@use "../../styles/colors";
@use "../../styles/mixins";

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  @include mixins.font-body(1rem, 700);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: colors.$contrast-blue;
    color: colors.$text-main;
  }

  &:disabled {
    color: white;
    &:hover {
      background-color: white;
    }
  }
}

.transparent {
  background-color: transparent;
}

.action {
  background-color: colors.$accent-pink;
  color: white;
}

.active {
  background-color: colors.$primary-yellow;
}
