@use "../../styles/colors";
@use "../../styles/mixins";

.heading {
  @include mixins.font-heading(3.5rem);
  text-shadow: 3px 3px colors.$contrast-blue;
  margin: 1rem;
  word-spacing: 0.75rem;
  letter-spacing: 0.2rem;
}
