@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.content {
  @include mixins.flex(column, center, center);
  position: relative;
  background-color: white;
  height: 260px;
  width: 250px;
  margin: 0.5rem 1rem;
  box-shadow: 0 4px 10px colors.$accent-shadow;
}

.image {
  max-width: 200px;
  height: 200px;
  background-color: white;
}

.title {
  @include mixins.font-body(1rem, 700);
  text-align: center;
  height: 45px;

  p {
    margin: 1rem 0 0 0;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.outline {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: white;
  text-shadow: -1px -1px 0 colors.$shadow-dark, 1px -1px 0 colors.$shadow-dark,
    -1px 1px 0 colors.$shadow-dark, 1px 1px 0 colors.$shadow-dark;
  font-size: 1.75rem;
  cursor: grab;
}

.heart {
  color: red;
  text-shadow: none;
}
