@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.carousel {
  @include mixins.flex(column, center, center);
  margin: 2rem;
  background-color: gray;
  height: 150px;
  width: 300px;

  @include mq.tablet {
    width: 400px;
    height: 250px;
  }

  @include mq.pc {
    width: 400px;
    height: 250px;
  }

  // &_track {
  // }
}
