@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.carousel {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 250px;
  overflow: hidden;
  margin: 1.5rem;
}

.track {
  @include mixins.flex();
  width: 100%;
}

.slide {
  @include mixins.flex(column, center, center);
  min-width: 100%;
  flex-shrink: 0;
  background-color: white;
}

.image {
  max-height: 250px;
  max-width: 305px;
  cursor: pointer;
}

.nav {
  @include mixins.font-body(1.5rem, 600);
  top: 45%;
  position: absolute;
  background: transparent;
  box-shadow: 0px 1px 1px 1px colors.$accent-shadow;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.left {
  left: 5px;
}

.right {
  right: 5px;
}
