@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.overlay {
  width: 90%;
  background-color: white;
  @include mixins.flex(column, center, center);
  margin: 0 0 1.5rem 0;

  @include mq.tablet() {
    height: 90%;
    width: 95%;
  }

  @include mq.pc() {
    height: 94%;
    width: 97%;
  }

  @include mq.uhd() {
    height: 96%;
    width: 98%;
  }
}
