@use "./styles/colors";
@use "./styles/media-queries" as mq;
@use "./styles/mixins";

main {
  background-color: colors.$primary-yellow;
  @include mixins.flex(column, center, center);
  height: 100%;

  @include mq.tablet {
    @include mixins.flex(column, center, center);
  }

  @include mq.pc {
    min-height: 100vh;
    overflow-y: hidden;
    @include mixins.flex(column, center, center);
  }
}
